@font-face {
    font-family: "Whitney Book";
    src: url("https://github.com/Poly-cryptic/classic-discord-font/raw/main/Whitney-Book.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body,html {
    font-family: "Whitney Book", Arial, Helvetica, sans-serif;
}