@font-face {
    font-family: "Whitney";
    src: url("https://poly-cryptic.github.io/classic-discord-font/Whitney-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("https://poly-cryptic.github.io/classic-discord-font/Whitney-BookItalic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("https://poly-cryptic.github.io/classic-discord-font/Whitney-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("https://poly-cryptic.github.io/classic-discord-font/Whitney-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("https://poly-cryptic.github.io/classic-discord-font/Whitney-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("https://poly-cryptic.github.io/classic-discord-font/Whitney-Bold.woff2") format("woff2");
    font-weight: 700;
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("https://poly-cryptic.github.io/classic-discord-font/Whitney-SemiboldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("https://poly-cryptic.github.io/classic-discord-font/Whitney-LightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("https://poly-cryptic.github.io/classic-discord-font/Whitney-Light.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

html,body {
    font-family: "Whitney", Arial, Helvetica, sans-serif;
}
